@import "tailwindcss";

@font-face {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./YekanBakhFaNum-VF.woff2") format("woff2"),
       url("./YekanBakhFaNum-VF.woff") format("woff");
}

@font-face {
  font-family: "Yekan Bakh NoEn";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./YekanBakhNoEnVF.woff2") format("woff2"),
       url("./YekanBakhNoEnVF.woff") format("woff");
}

@theme {
  --font-sans: "Yekan Bakh FaNum", system-ui, sans-serif;
}

body {
  font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  -moz-font-feature-settings: "ss01";
}
